@import '~bulma';
@import '~font-awesome/css/font-awesome.css';
@import './colors.scss';

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#dataprep {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: none;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: none;

  #table-wrapper {
    flex-grow: 1;
    display: flex;
    overflow: auto;
    // padding-top: 1rem;
    background-color: $grey-lighter;
  }
}

.logo {
  font-weight: bolder;
  font-family: monospace;
  font-size: 24px;
  background-color: $turquoise;
  color: $white;
}

.mID-unclickable {
  pointer-events: none;
  cursor: default;
}

.mID-margin-right-8 {
  margin-right: 8px;
}

.mID-checkbox {
  line-height: 2.25rem;
}

.mID-nowrap {
  white-space: nowrap;
}

#controller {
  padding: 0.5rem 0.7rem;
  background-color: $grey-lighter;
}
#validationWrapper {
  display: flex;
  flex-flow: column;
  flex-wrap: none;
  height: 100%;
}
#content {
  width: 100%;
}
.box {
  padding: 0.7rem;
}
.table {
  td,th {
    vertical-align: middle !important;
    > div, > span {
      vertical-align: middle !important;
    }
  }

  .head-centered {
    text-align: center !important;
  }
}
#loading-spinner {
  margin-top: 8rem;
}
.stickTable-container {
  position: relative;
}
.stickTable {
  table {
    width: 100%;
    background-color: $white;
  }
}
#sliderWrapper {
  padding-left: 5px;
  padding-right: 10px;
}

.operation-success {
  background-color: $turquoise;
}

.operation-fail {
  background-color: $red;
}

.operation-fade {
  animation: fadeout 1s forwards;
  animation-delay: 1s;
  -moz-animation: fadeout 1s forwards;
  -moz-animation-delay: 1s;
  -webkit-animation: fadeout 1s forwards;
  -webkit-animation-delay: 1s;
  -o-animation: fadeout 1s forwards;
  -o-animation-delay: 1s;
}

.activeShortcuts {
  .border-selected {
    border: 2px solid $turquoise;
    transform: scale(1, 1.1)
  }

  .fade-unselected {
    opacity: 0.3;
  }
}
.table tr:hover {
  background-color: inherit;
}

@keyframes fadeout {
  to {
    background-color:$white;
  }
}
@-moz-keyframes fadeout {
  to {
    background-color: $white;
  }
}
@-webkit-keyframes fadeout {
  to {
    background-color: $white;
  }
}
@-o-keyframes fadeout {
  to {
    background-color: $white;
  }
}

.modal {
  z-index: 21;
}

@import '../../../matchIdConfig/scss/custom.scss';
